@model List<HomeViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@if (signInManager.IsSignedIn(User))
{
    @foreach (var m in Model)
    {
        @await Html.PartialAsync("_UserShiftTablePartial", m)
    }
}
else
{
    <p class="text-center mb-5">Welcome to the Mock Trojan Event Services Staff Portal. Please Log In to View This Site's Information. Log in credentials for demonstration purposes are provided on the log in page.</p>

    <p class="text-center"><a href="https://tylerwaterman.com">Click Here to Return to Tylerwaterman.com</a></p>


}


