@model List<HomeViewModel>
@inject SignInManager<ApplicationUser> signInManager;
@{
    ViewData["Title"] = "Home Page";
}

@if (signInManager.IsSignedIn(User))
{
    @foreach (var m in Model)
    {
        @await Html.PartialAsync("_UserShiftTablePartial", m)
    }
}
else
{
    <p class="text-center mb-5">Welcome to the Mock Trojan Event Services Staff Portal. Please Log In to View This Site's Information</p>

    <ul class="mb-5">
        <li>To see what the site looks like as a non-administrative user, log in with email: <strong>usher@usc.edu</strong>, password: <strong>!PasswordUSC1</strong></li>
        <li>To see what the site looks like as an admin log in with username: <strong>exec@usc.edu</strong>, password: <strong>!PasswordUSC1</strong></li>
    </ul>

    <p class="text-center"><a href="https://tylerwaterman.com">Click Here to Return to Tylerwaterman.com</a></p>


}


